body{
	background-color: gainsboro;
	margin:0;
}

#main {
	display: flex;
	justify-content: space-between;
    flex-direction: row;

}

/* Resources */
.row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.column {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


/* Editor Pannel */
#editor-pannel {
	display:flex;
	flex-direction: column;
	padding: 10px;

	background-color: white;

	border-right: 2px solid rgb(84, 84, 128);

	font-family: Arial, Helvetica, sans-serif;
}



/* Web display */
#web-display{
	display:flex;
	flex-direction: column;
	width:75%;

	background-color: white;
}

#web-display a {
	text-decoration: none;
	color: unset;
}

/* Color Sets */
.bgColor1 {
	background-color: #25354C;
	color:white;
}

.bgColor2{
	background-color: #D7E3FB;
	color: #25354C;
}

.primaryFont{
	font-family:'Playfair Display';
	font-weight: 500;
}

.secondaryFont{
	font-family: 'raleway';
	font-weight: 200;
	letter-spacing: 3px;
	text-transform: uppercase;
}


.textFont{
	font-family: Arial, Helvetica, sans-serif;
}




/* HERO */
.hero{
	display:flex;
	flex-direction: column;

	padding: 40px 20px 40px 20px;
}

.hero h3{
	font-weight: unset;
	margin-top: 0px;
	margin-bottom: 20px;
	font-size: 12px;
	font-style:unset;
}
/* ========== */


/* Button */

.button {
	width: 200px;
	padding: 10px 20px 10px 20px;
	border: none;

	text-transform: uppercase;
	font-weight: 500;
	font-size: 12px;

	background-color: #D28F46;
	color: #EDE8E4;
	transition: ease-in-out 0.2s;
}

.button:hover {
	background-color: #EDE8E4;
	color: #D28F46;
}

